In [1]:
# imports numpy and pandas
import pandas as pd
import numpy as np

In [2]:
# Data Path
Data = 'C:/Users/patel/lighthouse-lab-allprojects/Mid-Project-Data/flights_test.csv'

In [3]:
df = pd.read_csv(Data, low_memory=False)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660556 entries, 0 to 660555
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   fl_date             660556 non-null  object
 1   mkt_unique_carrier  660556 non-null  object
 2   branded_code_share  660556 non-null  object
 3   mkt_carrier         660556 non-null  object
 4   mkt_carrier_fl_num  660556 non-null  int64
 5   op_unique_carrier   660556 non-null  object
 6   tail_num            659057 non-null  object
 7   op_carrier_fl_num   660556 non-null  int64
 8   origin_airport_id   660556 non-null  int64
 9   origin              660556 non-null  object
 10  origin_city_name    660556 non-null  object
 11  dest_airport_id     660556 non-null  int64
 12  dest                660556 non-null  object
 13  dest_city_name      660556 non-null  object
 14  crs_dep_time        660556 non-null  int64
 15  crs_arr_time        660556 non-null  int64
 16  dup                 660556 non-null  object
 17  crs_elapsed_time    660556 non-null  int64
 18  flights             660556 non-null  int64
 19  distance            660556 non-null  int64
dtypes: int64(9), object(11)
memory usage: 100.8+ MB

In [5]:
df['datetime_column'] = pd.to_datetime(df['fl_date'])
df = df[df['datetime_column'].dt.month == 1]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 660556 entries, 0 to 660555
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   fl_date             660556 non-null  object
 1   mkt_unique_carrier  660556 non-null  object
 2   branded_code_share  660556 non-null  object
 3   mkt_carrier         660556 non-null  object
 4   mkt_carrier_fl_num  660556 non-null  int64
 5   op_unique_carrier   660556 non-null  object
 6   tail_num            659057 non-null  object
 7   op_carrier_fl_num   660556 non-null  int64
 8   origin_airport_id   660556 non-null  int64
 9   origin              660556 non-null  object
 10  origin_city_name    660556 non-null  object
 11  dest_airport_id     660556 non-null  int64
 12  dest                660556 non-null  object
 13  dest_city_name      660556 non-null  object
 14  crs_dep_time        660556 non-null  int64
 15  crs_arr_time        660556 non-null  int64
 16  dup                 660556 non-null  object
 17  crs_elapsed_time    660556 non-null  int64
 18  flights             660556 non-null  int64
 19  distance            660556 non-null  int64
 20  datetime_column     660556 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(9), object(11)
memory usage: 110.9+ MB

In [7]:
# Data Path
Data = 'C:/Users/patel/lighthouse-lab-allprojects/Mid-Project-Data/merged1.csv'

In [8]:
MODEL = pd.read_csv(Data, low_memory=False)

In [9]:
MODEL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2974084 entries, 0 to 2974083
Data columns (total 67 columns):
 #   Column                Dtype
---  ------                -----
 0   fl_date               object
 1   mkt_unique_carrier    object
 2   branded_code_share    object
 3   mkt_carrier           object
 4   mkt_carrier_fl_num    int64
 5   op_unique_carrier     object
 6   tail_num              object
 7   op_carrier_fl_num     int64
 8   origin_airport_id     int64
 9   origin_x              object
 10  origin_city_name      object
 11  dest_airport_id       int64
 12  dest_x                object
 13  dest_city_name        object
 14  dep_delay             float64
 15  taxi_out              float64
 16  wheels_off            float64
 17  wheels_on             float64
 18  taxi_in               float64
 19  crs_arr_time          int64
 20  arr_time              float64
 21  arr_delay             float64
 22  cancelled             int64
 23  cancellation_code     object
 24  diverted              int64
 25  dup                   object
 26  air_time_x            float64
 27  flights               int64
 28  distance              int64
 29  carrier_delay         float64
 30  weather_delay         float64
 31  nas_delay             float64
 32  security_delay        float64
 33  late_aircraft_delay   float64
 34  Total_delay           float64
 35  day                   int64
 36  month                 int64
 37  year                  int64
 38  departures_scheduled  int64
 39  departures_performed  int64
 40  payload               int64
 41  seats                 int64
 42  passengers            int64
 43  freight               int64
 44  mail                  int64
 45  ramp_to_ramp          int64
 46  air_time_y            int64
 47  unique_carrier        object
 48  airline_id            int64
 49  region                object
 50  carrier               object
 51  carrier_name          object
 52  carrier_group         int64
 53  carrier_group_new_x   int64
 54  origin_y              object
 55  origin_country        object
 56  dest_y                object
 57  dest_country          object
 58  aircraft_group        int64
 59  aircraft_type         int64
 60  aircraft_config       int64
 61  distance_group        int64
 62  class                 object
 63  data_source           object
 64  carrier_group_new_y   int64
 65  total_gallons         float64
 66  total_cost            int64
dtypes: float64(15), int64(30), object(22)
memory usage: 1.5+ GB

In [10]:
# Merge df1 and df2 vertically
df = pd.concat([MODEL, df], ignore_index=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3634640 entries, 0 to 3634639
Data columns (total 72 columns):
 #   Column                Dtype
---  ------                -----
 0   fl_date               object
 1   mkt_unique_carrier    object
 2   branded_code_share    object
 3   mkt_carrier           object
 4   mkt_carrier_fl_num    int64
 5   op_unique_carrier     object
 6   tail_num              object
 7   op_carrier_fl_num     int64
 8   origin_airport_id     int64
 9   origin_x              object
 10  origin_city_name      object
 11  dest_airport_id       int64
 12  dest_x                object
 13  dest_city_name        object
 14  dep_delay             float64
 15  taxi_out              float64
 16  wheels_off            float64
 17  wheels_on             float64
 18  taxi_in               float64
 19  crs_arr_time          int64
 20  arr_time              float64
 21  arr_delay             float64
 22  cancelled             float64
 23  cancellation_code     object
 24  diverted              float64
 25  dup                   object
 26  air_time_x            float64
 27  flights               int64
 28  distance              int64
 29  carrier_delay         float64
 30  weather_delay         float64
 31  nas_delay             float64
 32  security_delay        float64
 33  late_aircraft_delay   float64
 34  Total_delay           float64
 35  day                   float64
 36  month                 float64
 37  year                  float64
 38  departures_scheduled  float64
 39  departures_performed  float64
 40  payload               float64
 41  seats                 float64
 42  passengers            float64
 43  freight               float64
 44  mail                  float64
 45  ramp_to_ramp          float64
 46  air_time_y            float64
 47  unique_carrier        object
 48  airline_id            float64
 49  region                object
 50  carrier               object
 51  carrier_name          object
 52  carrier_group         float64
 53  carrier_group_new_x   float64
 54  origin_y              object
 55  origin_country        object
 56  dest_y                object
 57  dest_country          object
 58  aircraft_group        float64
 59  aircraft_type         float64
 60  aircraft_config       float64
 61  distance_group        float64
 62  class                 object
 63  data_source           object
 64  carrier_group_new_y   float64
 65  total_gallons         float64
 66  total_cost            float64
 67  origin                object
 68  dest                  object
 69  crs_dep_time          float64
 70  crs_elapsed_time      float64
 71  datetime_column       datetime64[ns]
dtypes: datetime64[ns](1), float64(40), int64(7), object(24)
memory usage: 1.9+ GB

In [12]:
# add column for day of week
df['day_of_week'] = pd.to_datetime(df['fl_date']).dt.day_name()

In [13]:
# Create a new column with the average dep_delay by origin_city_name, ignoring NaN values
df['origin_city_avg_dep_delay'] = df.groupby('origin_city_name')['dep_delay'].transform(lambda x: x.mean(skipna=True))

In [14]:
# create new column that is the average dep_delay by origin_city_name and 'day_of_week'
df['origin_day_week_avg_dep_delay'] = df.groupby(['origin_city_name', 'day_of_week'])['dep_delay'].transform(lambda x: x.mean(skipna=True))

In [15]:
# create new column that is the average arr_delay by dest_city_name and 'day_of_week'
df['dest_day_week_avg_arr_delay'] = df.groupby(['dest_city_name', 'day_of_week'])['arr_delay'].transform(lambda x: x.mean(skipna=True))

In [16]:
# create new column that is the average arr_delay by dest_city_name
df['dest_city_avg_arr_delay'] = df.groupby('dest_city_name')['arr_delay'].transform(lambda x: x.mean(skipna=True))

In [17]:
#create new column that is the average arr_delay day_of_week and op_unique_carrier
df['op_unique_carrier_day_week_avg_arr_delay'] = df.groupby(['op_unique_carrier', 'day_of_week'])['arr_delay'].transform(lambda x: x.mean(skipna=True))

In [18]:
df.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin_x',
       'origin_city_name', 'dest_airport_id', 'dest_x', 'dest_city_name',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'air_time_x', 'flights',
       'distance', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'Total_delay', 'day', 'month',
       'year', 'departures_scheduled', 'departures_performed', 'payload',
       'seats', 'passengers', 'freight', 'mail', 'ramp_to_ramp', 'air_time_y',
       'unique_carrier', 'airline_id', 'region', 'carrier', 'carrier_name',
       'carrier_group', 'carrier_group_new_x', 'origin_y', 'origin_country',
       'dest_y', 'dest_country', 'aircraft_group', 'aircraft_type',
       'aircraft_config', 'distance_group', 'class', 'data_source',
       'carrier_group_new_y', 'total_gallons', 'total_cost', 'origin', 'dest',
       'crs_dep_time', 'crs_elapsed_time', 'datetime_column', 'day_of_week',
       'origin_city_avg_dep_delay', 'origin_day_week_avg_dep_delay',
       'dest_day_week_avg_arr_delay', 'dest_city_avg_arr_delay',
       'op_unique_carrier_day_week_avg_arr_delay'],
      dtype='object')

In [19]:
df['fl_date'] = pd.to_datetime(df['fl_date'])
df['day'] = df['fl_date'].dt.day
df['month'] = df['fl_date'].dt.month
df['year'] = df['fl_date'].dt.year

In [20]:
import math
# Determine the bin size
max_distance = df['distance'].max()
num_groups = 20
bin_size = 500

# Function to assign distance group
def assign_distance_group(distance):
    if distance <= bin_size:
        return 1
    else:
        group = math.ceil(distance / bin_size)
        return min(group, num_groups)

In [21]:
# Apply the function to create the 'distance_group' column
df['distance_group'] = df['distance'].apply(assign_distance_group)

In [22]:
df['distance_group_airtime_avg'] = df.groupby(['distance_group'])['air_time_x'].transform('mean')

In [23]:
df['distance_group__day_passenger_avg'] = df.groupby(['distance_group','day'])['passengers'].transform('mean')

In [24]:
df['distance_group_day_payload_avg'] = df.groupby(['distance_group','day'])['payload'].transform('mean')

In [25]:
# Selecting rows for the years 2020
df = df[df['year'] == 2020]

In [26]:
# we can drop 'crs_elapsed_time','actual_elapsed_time','crs_arr_time', 'arr_time', 'crs_dep_time' , 'dep_time'
df.drop(['datetime_column'], axis=1, inplace=True)

In [27]:
# Drop columns with zero non-null values
df = df.dropna(axis='columns', how='all')

In [28]:
# add column for day of week
df['day_of_week'] = pd.to_datetime(df['fl_date']).dt.day_name()

In [29]:
df = df.rename(columns={'day': 'fl_date_day_of_month'})

In [30]:
df.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin_city_name',
       'dest_airport_id', 'dest_city_name', 'crs_arr_time', 'dup', 'flights',
       'distance', 'fl_date_day_of_month', 'month', 'year', 'distance_group',
       'origin', 'dest', 'crs_dep_time', 'crs_elapsed_time', 'day_of_week',
       'origin_city_avg_dep_delay', 'origin_day_week_avg_dep_delay',
       'dest_day_week_avg_arr_delay', 'dest_city_avg_arr_delay',
       'op_unique_carrier_day_week_avg_arr_delay',
       'distance_group_airtime_avg', 'distance_group__day_passenger_avg',
       'distance_group_day_payload_avg'],
      dtype='object')

In [31]:
columns = ['mkt_unique_carrier', 'branded_code_share', 
        'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin_city_name',
       'dest_airport_id',  'dest_city_name', 'dup',
       'flights', 'distance',  'month', 'year',
       'crs_dep_time', 'crs_elapsed_time', 
       ]

In [32]:
df = df.drop(columns=columns)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 660556 entries, 2974084 to 3634639
Data columns (total 18 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   fl_date                                   660556 non-null  datetime64[ns]
 1   mkt_carrier                               660556 non-null  object
 2   mkt_carrier_fl_num                        660556 non-null  int64
 3   op_unique_carrier                         660556 non-null  object
 4   crs_arr_time                              660556 non-null  int64
 5   fl_date_day_of_month                      660556 non-null  int64
 6   distance_group                            660556 non-null  int64
 7   origin                                    660556 non-null  object
 8   dest                                      660556 non-null  object
 9   day_of_week                               660556 non-null  object
 10  origin_city_avg_dep_delay                 658728 non-null  float64
 11  origin_day_week_avg_dep_delay             658676 non-null  float64
 12  dest_day_week_avg_arr_delay               658669 non-null  float64
 13  dest_city_avg_arr_delay                   658726 non-null  float64
 14  op_unique_carrier_day_week_avg_arr_delay  629215 non-null  float64
 15  distance_group_airtime_avg                660513 non-null  float64
 16  distance_group__day_passenger_avg         660513 non-null  float64
 17  distance_group_day_payload_avg            660513 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(4), object(5)
memory usage: 95.8+ MB

In [34]:
# Drop rows containing NaN values
df = df.dropna()

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 627311 entries, 2974084 to 3634639
Data columns (total 18 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   fl_date                                   627311 non-null  datetime64[ns]
 1   mkt_carrier                               627311 non-null  object
 2   mkt_carrier_fl_num                        627311 non-null  int64
 3   op_unique_carrier                         627311 non-null  object
 4   crs_arr_time                              627311 non-null  int64
 5   fl_date_day_of_month                      627311 non-null  int64
 6   distance_group                            627311 non-null  int64
 7   origin                                    627311 non-null  object
 8   dest                                      627311 non-null  object
 9   day_of_week                               627311 non-null  object
 10  origin_city_avg_dep_delay                 627311 non-null  float64
 11  origin_day_week_avg_dep_delay             627311 non-null  float64
 12  dest_day_week_avg_arr_delay               627311 non-null  float64
 13  dest_city_avg_arr_delay                   627311 non-null  float64
 14  op_unique_carrier_day_week_avg_arr_delay  627311 non-null  float64
 15  distance_group_airtime_avg                627311 non-null  float64
 16  distance_group__day_passenger_avg         627311 non-null  float64
 17  distance_group_day_payload_avg            627311 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(4), object(5)
memory usage: 90.9+ MB

In [36]:
# Saving the DataFrame as a CSV file
df.to_csv('C:/Users/patel/lighthouse-lab-allprojects/Mid-Project-Data/Flights_test_clean_final.csv', index=False)